*{
    margin: 0;
    padding: 0;

}
header{

    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 12px;
    
}
header button{

    width: 140px;
    padding: 10px;
    margin-top: 12px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-weight: bold;
    transition: 1s;
}
header button:hover{
color: #07689f;
box-shadow: 0px 0px 15px silver;
}
header img{
width:60px;
float:left;
margin-left: 7px;
}

Main{
    width: 100%;
    height: 700px;
   background:#f9;
    
}
section {padding:20px; margin:20px auto; background:#fff; border-radius:8px; width:80%; box-shadow:0 0 10px rgba(0,0,0,0.1);}
 h2 {color:#007bff;}
 body {font-family: Tahoma, Arial; background:#f9f9f9; direction:rtl; line-height:1.8;}
 footer{
background-color: #222;
color: #fff;
text-align: center;
padding:15px 10px ;
font-size: 14px;
 }